<header>
    <img src="/images/plancheimg.png" alt="Calisthenics website logo" />
    <nav>
        <ul>
            <li>
                <a href="#">Matches</a>
            </li>
            <li>
                <a href="#">Account</a>
            </li>
        </ul>
    </nav>
</header>
<main id="addLocations">
    <section>
        <h1>Add your found location</h1>
        <a href="/locations">back</a>
    </section>

    <form action="/locations/add" method="post" enctype="multipart/form-data">
        <section>
            <p id="javascriptOffAtAdd">Turn on Javascript to use the filter function</p>
            <button id="findLocation" onclick="findip()" type="button">Use my location</button>
        </section>
        <label id="countryFilled">
            Country:
            <input id="country" name="country" type="text" required />
        </label>
        <label id="cityFilled">
            City:
            <input id="city" name="city" type="text" required />
        </label>
        <label id="AtFilled">
            Adress or near by park:
            <input id="park" name="adress" type="text" required />
        </label>
        <label>
            Picture of the location:
            <input name="image" type="file" accept="image" required />
        </label>
        <label>
            Discription:
            <textarea required name="discription" cols="30" rows="1"></textarea>
        </label>
        <label>
            Setup:
            {{! <input name="setup" type="text" /> }}
            {{! <h3>Setup</h3> }}
            <label for="highbar">Highbar
                <input type="checkbox" name="highbar" value="highbar" />
            </label>
            <label for="mediumbar">Mediumbar
                <input type="checkbox" name="mediumbar" value="mediumbar" />
            </label>
            <label for="lowbar">Lowbar
                <input type="checkbox" name="lowbar" value="lowbar" />
            </label>
            <label for="dipbars">Dipbars
                <input type="checkbox" name="dipbars" value="dipbars" />
            </label>
            <label for="ladder">Ladder
                <input type="checkbox" name="ladder" value="ladder" />
            </label>
            <label for="pole">Pole
                <input type="checkbox" name="pole" value="pole" />
            </label>
        </label>
        <input id="coordinates" name="coordinates" type="text" />
        <input type="submit" value="add" />
    </form>
    {{#if error}}
        <p id="errorMessage">{{error}}</p>
    {{/if}}
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/getLocation.js"></script>