<header>
    <img src="/images/plancheimg.png" alt="Calisthenics website logo" />
    <nav>
        <ul>
            <li>
                <a href="#">Matches</a>
            </li>
            <li>
                <a href="#">Account</a>
            </li>
        </ul>
    </nav>
</header>
<main id="addLocations">
    <section>
        <h1>Add your found location</h1>
        <a href="/locations">back</a>
    </section>

    <form action="/add-locations" method="post" enctype="multipart/form-data">
        <input name="useMyLocation" type="text" id="in" />
        <button id="findLocation" onclick="findip()" type="button">Use my location</button>
        <label>
            Country:
            <input id="country" name="country" type="text" />
            <p id="countryFilled"></p>
        </label>
        <label>
            City:
            <input id="city" name="city" type="text" />
            <p id="cityFilled"></p>
        </label>
        <label>
            Adress or near by park:
            <input id="park" name="adress" type="text" />
            <p id="AtFilled"></p>
        </label>
        <label>
            Picture of the location:
            <input name="image" type="file" accept="image" />
        </label>
        <label>
            Discription:
            <textarea name="discription" cols="30" rows="1"></textarea>
        </label>
        <label>
            Setup:
            <input name="setup" type="text" />
        </label>
        <input type="text" name="ipAdress" id="ipAdress" />
        <input type="submit" value="add" />
    </form>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/getLocation.js"></script>