{{!-- {{#> main}} --}}
<header>
    <nav>
        <ul>
            <li>
                <a href="#">{{linkOne}}</a>
            </li>
            <li>
                <a href="#">Matches</a>
            </li>
            <li>
                <a href="#">Account</a>
            </li>
        </ul>
    </nav>
</header>
<main>
    <nav>
        <ul class="contacts-list">
        </ul>
    </nav>
    <section class="chatPlace">
    </section>
</main>

{{!-- for each contact --}}
<template class="listTemplate">
    <li>
        <a href="#">
            <img src="" alt="Profile picture" />
            <p>{{username}}</p>
        </a>
    </li>
</template>


{{!-- for each contact --}}
<template class="chatTemplate">
    <div>
        <div>
            <button>Back</button>
            <img src="" alt="profile img" />
            <h2>{{username}}</h2>
        </div>
        <div>
            {{!-- gets data from database with all the messages. Depends on who is asking --}}
            {{!-- chat --}}
        </div>
        <div>
            <button>Smileys</button>
            <button>Language</button>
            {{!-- <form method="post" action="/"> --}}
            <form action="/" method="post"></form>
                <input type="text" name="message" />
                <input type="submit" value="Add" />
            </form>

        </div>
    </div>
</template>
{{!-- {{/layout}} --}}





    {{!-- {{! popups }}
    <section>
        <h2>You've got a <span>MATCH</span>!</h2>
    </section>
    <section>
        <h2 class="visually-hidden">Your match</h2>
        <section>
            <img src="images/pfpicture.png" alt="Photo of your match" />
        </section>
        <ul>
            <li>John Paddington</li>
            <li>22 yrs old</li>
            <li>10km away</li>
            <li>Likes Ice cream</li>
        </ul>
        <button>Open chat</button>
    </section>
    {{! popups }} --}}