#locations {
    height: calc(100% - header);
    width: 100%;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 100px 1fr;
    flex-direction: column;
    overflow-y: hidden;
    section:nth-child(1) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 6em;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;
        h1 {
            font-size: 3em;
        }
        a {
            display: flex;
            font-size: 1.3em;
            background-color: bisque;
            border: solid black 2px;
            border-radius: 10px;
            width: 9em;
            height: 2em;
            justify-content: center;
            align-items: center;
            color: black;
        }
    }
    ul {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        font-size: 1.3em;
        display: grid;
        width: 95%;
        height: fit-content;
        padding: 0;
        gap: 2em;
        margin: 2em;
        padding-bottom: 5em;
        margin-left: auto;
        margin-right: auto;
        max-width: 1660px;
        max-height: 90%;
        overflow-y: auto;
        grid-template-columns: repeat(auto-fit, minmax(458px, 1fr));
        li {
            place-self: center;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 200px 1fr 1fr 1fr 1fr;
            list-style-type: none;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            border-radius: 15px;
            justify-content: center;
            align-items: center;
            padding: 0.2em;
            width: 450px;
            height: 350px;
            img {
                grid-column-start: 1;
                grid-column-end: 4;
                grid-row-start: 1;
                grid-row-end: 3;
            }
            p {
                height: fit-content;
                margin: 0;
                margin: 0.2em;
                padding: 0.3em;
            }
            p:nth-child(2) {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 3;
                grid-row-end: 4;
            }
            p:nth-child(3) {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 4;
                grid-row-end: 5;
            }
            p:nth-child(4) {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 5;
                grid-row-end: 6;
            }
            p:nth-child(5) {
                grid-column-start: 2;
                grid-column-end: 4;
                grid-row-start: 3;
                grid-row-end: 5;
                border: solid black 1px;
                height: 100%;
            }
            p:nth-child(6) {
                grid-column-start: 2;
                grid-column-end: 4;
                grid-row-start: 5;
                grid-row-end: 6;
            }
        }
    }
    section:nth-child(3) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        border: solid black 5px;
        display: flex;
        flex-direction: column;
        padding: 2em;
        padding-top: 0;
        font-size: 1.5em;
        gap: 0.5em;
        h2 {
            width: 100%;
            text-align: center;
            height: fit-content;
        }
        label {
            display: flex;
            width: 100%;
            justify-content: space-between;
            select {
                width: 40%;
                height: 100%;
            }
        }
    }
}

#addLocations {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        h1 {
            // order: 1;
            font-size: 3em;
            width: 100%;
            display: flex;
            justify-content: left;
        }
        a {
            display: flex;
            font-size: 1.3em;
            background-color: bisque;
            border: solid black 2px;
            border-radius: 10px;
            width: 9em;
            height: 2em;
            justify-content: center;
            align-items: center;
            color: black;
        }
    }
    form {
        width: 50%;
        display: flex;
        flex-direction: column;
        height: 50%;
        border: solid black 1px;
        border-radius: 10px;
        padding: 2em;
        font-size: 2em;
        justify-content: space-between;
        label {
            text-align: center;
            align-items: center;
            border-bottom: solid rgb(187, 187, 187) 1px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            input,
            textarea {
                width: 35%;
                height: 100%;
                font-size: 1em;
                border-radius: 10px;
                border: none;
            }
            textarea {
                font-size: 0.8em;
            }
        }
        input[type="submit"] {
            all: unset;
            text-align: center;
            height: 1.8em;
            font-size: 1em;
            width: 35%;
            border: solid black 4px;
            background-color: white;
            border-radius: 10px;
            align-self: flex-end;
        }
        input[type="file"] {
            font-size: 0.6em;
        }
    }
}
