#locations {
  height: calc(100% - header);
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 1fr;
      grid-template-columns: 400px 1fr;
  -ms-grid-rows: 100px 1fr;
      grid-template-rows: 100px 1fr;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: hidden;
}

#locations section:nth-child(1) {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

#locations section:nth-child(1) h1 {
  font-size: 3em;
}

#locations section:nth-child(1) a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.3em;
  background-color: bisque;
  border: solid black 2px;
  border-radius: 10px;
  width: 9em;
  height: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

#locations ul {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  font-size: 1.3em;
  display: -ms-grid;
  display: grid;
  width: 95%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0;
  gap: 2em;
  margin: 2em;
  padding-bottom: 5em;
  margin-left: auto;
  margin-right: auto;
  max-width: 1660px;
  max-height: 90%;
  overflow-y: auto;
  -ms-grid-columns: (minmax(458px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(458px, 1fr));
}

#locations ul li {
  place-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 200px 1fr 1fr 1fr 1fr;
      grid-template-rows: 200px 1fr 1fr 1fr 1fr;
  list-style-type: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.2em;
  width: 450px;
  height: 350px;
}

#locations ul li img {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

#locations ul li p {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  margin: 0.2em;
  padding: 0.3em;
}

#locations ul li p:nth-child(2) {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
}

#locations ul li p:nth-child(3) {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 5;
}

#locations ul li p:nth-child(4) {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 5;
      grid-row-start: 5;
  grid-row-end: 6;
}

#locations ul li p:nth-child(5) {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 5;
  border: solid black 1px;
  height: 100%;
}

#locations ul li p:nth-child(6) {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  -ms-grid-row: 5;
      grid-row-start: 5;
  grid-row-end: 6;
}

#locations section:nth-child(3) {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  border: solid black 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
  padding-top: 0;
  font-size: 1.5em;
  gap: 0.5em;
}

#locations section:nth-child(3) h2 {
  width: 100%;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#locations section:nth-child(3) label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#locations section:nth-child(3) label select {
  width: 40%;
  height: 100%;
}

#addLocations {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#addLocations > section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#addLocations > section h1 {
  font-size: 3em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

#addLocations > section a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.3em;
  background-color: bisque;
  border: solid black 2px;
  border-radius: 10px;
  width: 9em;
  height: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

#addLocations form {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50%;
  border: solid black 1px;
  border-radius: 10px;
  padding: 2em;
  font-size: 2em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#addLocations form label {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid #bbbbbb 1px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#addLocations form label input,
#addLocations form label textarea {
  width: 35%;
  height: 100%;
  font-size: 1em;
  border-radius: 10px;
  border: none;
}

#addLocations form label textarea {
  font-size: 0.8em;
}

#addLocations form input[type="submit"] {
  all: unset;
  text-align: center;
  height: 1.8em;
  font-size: 1em;
  width: 35%;
  border: solid black 4px;
  background-color: white;
  border-radius: 10px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#addLocations form input[type="file"] {
  font-size: 0.6em;
}

#addLocations form p {
  margin: 0;
}
/*# sourceMappingURL=locations.css.map */