#locations {
  height: calc(100vh - 4em);
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr fit-content;
      grid-template-columns: 1fr -webkit-fit-content;
      grid-template-columns: 1fr fit-content;
  -ms-grid-rows: 6.25em 1fr;
      grid-template-rows: 6.25em 1fr;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: hidden;
}

#locations section:nth-child(1) {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#locations section:nth-child(1) h2 {
  font-size: 2em;
  margin: 0;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

#locations section:nth-child(1) a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.3em;
  background-color: white;
  border: solid black 2px;
  border-radius: 0.625em;
  width: 9em;
  height: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

#locations ul {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  font-size: 1.3em;
  display: -ms-grid;
  display: grid;
  width: 98%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0;
  gap: 2em;
  margin: 2em;
  padding-bottom: 5em;
  margin-left: auto;
  margin-right: auto;
  max-width: 103.75em;
  max-height: 90%;
  overflow-y: auto;
  -ms-grid-columns: (minmax(27em, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(27em, 1fr));
}

#locations ul li {
  place-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 12.5em 1fr 1fr 1fr 1fr;
      grid-template-rows: 12.5em 1fr 1fr 1fr 1fr;
  list-style-type: none;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 0.9375em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 26em;
  height: 21.875em;
  overflow: hidden;
  position: relative;
}

#locations ul li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  height: 12.5em;
}

#locations ul li div img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#locations ul li p {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  margin: 0.2em;
  padding: 0.3em;
  max-width: 9.375em;
  overflow: hidden;
  font-size: 1.3em;
}

#locations ul li p:nth-child(2) {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
}

#locations ul li p:nth-child(3) {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
}

#locations ul li p:nth-child(4) {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 6;
}

#locations ul li p:nth-child(5) {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 4;
  border-bottom: solid black 1px;
  border-left: solid black 1px;
  border-top: solid black 1px;
  padding-top: 0;
  margin-top: 0.5em;
  height: 100%;
  max-width: 18.75em;
  overflow-y: auto;
}

#locations ul li p:nth-child(6) {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 6;
  max-width: 18.75em;
}

#locations ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 1%;
  right: 1%;
  padding-left: 0.6em;
  padding-right: 0.6em;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 3em;
  border-radius: 0.625em;
  background-color: #4c4c4c;
  color: #e3e3e3;
}

#locations section:nth-child(3) {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  border-right: solid black 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
  padding-top: 0;
  font-size: 1.5em;
  gap: 0.5em;
  position: relative;
}

#locations section:nth-child(3) h3 {
  width: 100%;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#locations section:nth-child(3) section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.3em;
}

#locations section:nth-child(3) section h4 {
  margin-bottom: 0.2em;
  display: none;
}

#locations section:nth-child(3) section label {
  margin-left: 0.5em;
}

#locations section:nth-child(3) section label input {
  margin: 0;
  padding: 0;
  width: 1.5em;
  border-radius: 0.15em;
  -webkit-transform: translateY(-0.075em);
          transform: translateY(-0.075em);
  display: -ms-grid;
  display: grid;
  place-content: center;
}

#locations section:nth-child(3) #javascriptOff {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10.625em;
  color: #c50000;
}

#locations section:nth-child(3) label {
  display: none;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#locations section:nth-child(3) label select {
  width: 40%;
  height: 100%;
  border: black 2px solid;
}

#addLocations {
  height: calc(100vh - 4em);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#addLocations > section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  min-width: 31.25em;
}

#addLocations > section h2 {
  font-size: 3em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

#addLocations > section a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.3em;
  background-color: white;
  border: solid black 2px;
  border-radius: 0.625em;
  width: 9em;
  height: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

#addLocations form {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50%;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 0.625em;
  padding: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 2em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 15em;
  max-width: 25em;
}

#addLocations form section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#addLocations form section #javascriptOffAtAdd {
  font-size: 0.7em;
  place-self: end;
  margin: 0;
  padding: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  color: #c50000;
}

#addLocations form section button {
  width: 50%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  max-width: 12.5em;
  place-self: end;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#addLocations form label {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid #bbbbbb 1px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#addLocations form label input,
#addLocations form label textarea {
  width: 35%;
  height: 100%;
  font-size: 1em;
  border-radius: 0.625em;
  border: none;
}

#addLocations form label textarea {
  font-size: 0.8em;
}

#addLocations form label[for="setup"] {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3.125em 1fr 1fr;
      grid-template-columns: 3.125em 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
}

#addLocations form label[for="setup"] label {
  border-bottom: none;
  font-size: 0.7em;
  max-width: 15.625em;
}

#addLocations form label[for="setup"] label input {
  margin: 0;
  margin-right: 2.5em;
  padding: 0;
  width: 1.15em;
  height: 1.15em;
  border-radius: 0.15em;
  -webkit-transform: translateY(-0.075em);
          transform: translateY(-0.075em);
  display: -ms-grid;
  display: grid;
  place-content: center;
}

#addLocations form label[for="setup"] label:nth-child(1) {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

#addLocations form label[for="setup"] label:nth-child(2) {
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-column: 2;
      grid-column-start: 2;
}

#addLocations form label[for="setup"] label:nth-child(3) {
  -ms-grid-row: 4;
      grid-row-start: 4;
  -ms-grid-column: 2;
      grid-column-start: 2;
}

#addLocations form label[for="setup"] label:nth-child(4) {
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-column: 3;
      grid-column-start: 3;
}

#addLocations form label[for="setup"] label:nth-child(5) {
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-column: 3;
      grid-column-start: 3;
}

#addLocations form label[for="setup"] label:nth-child(6) {
  -ms-grid-row: 4;
      grid-row-start: 4;
  -ms-grid-column: 3;
      grid-column-start: 3;
}

#addLocations form input[type="submit"],
#addLocations form button {
  all: unset;
  text-align: center;
  height: 2em;
  font-size: 0.8em;
  width: 30%;
  border: solid black 2px;
  background-color: white;
  border-radius: 0.3125em;
  max-width: 12.5em;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#addLocations form input[type="file"] {
  font-size: 0.6em;
}

#addLocations form p {
  margin: 0;
}

#addLocations form #ipAdress {
  position: absolute;
  opacity: 0;
}

#addLocations #errorMessage {
  font-size: 1.5em;
  color: #c50000;
}

#addLocations #coordinates {
  position: absolute;
  width: 1px;
  opacity: 0;
}

@media (min-width: 65.625em) {
  #locations {
    -ms-grid-columns: 25em 1fr;
        grid-template-columns: 25em 1fr;
  }
  #locations section:nth-child(1) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    gap: 1em;
    margin-bottom: 0;
  }
  #locations section:nth-child(1) h2 {
    font-size: 3em;
  }
}

@media (min-width: 81.25em) {
  #locations section:nth-child(1) {
    margin-left: auto;
    margin-right: auto;
    gap: 3em;
  }
}
/*# sourceMappingURL=locations.css.map */